/*  browse-happy
    ========================================================================== */

.browse-happy,
noscript {
    background-color: #ffb400; /*freifunk-gelb*/
    color: #ffffff; /* white */
    width: 100%;
    padding: 2em;
    display: block;
    margin: 1em 0;
}

.browse-happy a,
noscript a {
    color: #ffffff; /* white */
}

/*  scaffolding
    ========================================================================== */

.toolbar {
  color: #ffffff;
  background-color: #2aaaff;
}

.drawer {
  background-color: #fcfcfc;
}

.mainpanel {
  background-color: #fcfcfc;
}
